.section_faq{
    text-align: center;
    color: black;
    padding: 12px;
    font-weight: bold;
    border-style: solid;
    border-width: 0px 0px 0px 20px;
    border-color: #da4536;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        padding: 50px 0px 20px 0px;
  
    
    /* background-color: #eee; */
}
.section_faq_detail{
    margin-bottom: 0;
    text-align: left;

}
.section_faq_Title{
    color:#d9232d
}


.section_faq_TitleText:hover{
    color:#d9232d
}

.section__btm{
    padding-bottom:15px !important;
  }
  .section__subtlt{
    padding: 12px;
  }