.section_faq{
    text-align: center;
    color: black; 
    font-weight: bold;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: #da4536;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 20px 0px; 
    position: relative;
    z-index: 1;
}
.section_faq_detail{
    margin-bottom: 0;
    text-align: left;

}
.section_faq_Title{
    color:#d9232d
}

.section_faq:before {
  content: '';
  height: 800px;
  width: 100%;
  background: url('../../public/images/tech/vector-40.png') no-repeat right;
  position: absolute;
  right: 0;
  top: 0px;
  z-index: -1;
  background-size: contain;
}

.section_faq_TitleText:hover{
    color:#d9232d
}

.section__btm{
    padding-bottom:15px !important;
  }
  .section__subtlt{
    text-align: center;
    color: black;
    padding: 0px;
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: bold;
    position: relative;
  }

  .clickHere{
    animation-duration: 7s;
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation:flash 7s infinite;
    font-size: 12px;
    font-weight: bolder;
    /* background: linear-gradient(#d9232d,#d9232d) bottom repeat-x; */
    /* transition: all 0.25s ease-out; */
    /* color:white; */
    display:inline-block !important;
}
.clickHere:hover{ cursor: pointer; }

@keyframes flash  {
  0% {color: #d9232d}
  50% {color: black;}
  100% {color:#d9232d;}
 

}
@-webkit-keyframes flash  {
  0% {color: #d9232d}
  50% {color: black;}
  100% {color: #d9232d;}

}

.aboutSpan{
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  color: #fff;
  background-color: #d8232d;
  display: inline-block;
  padding: 0px 6px;
  border-radius: 4px;
}