
.verticalTabs{
  padding: 15px 30px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #dae2ef;
  border-radius: 5px 5px 5px 5px;
  background-color: #eef1f6;
  max-width: 38%;
  width: 38%;
}

.vertical_button.Mui-selected{
  background-color: white;
}

.section_goal {
    text-align: center;
    color: black;
    padding: 12px;
    font-weight: bold;
    padding-bottom:5px; 
    position: relative; 
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: #da4536;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; 
    padding: 70px 0px 20px 0px;
}


.section_about {
  text-align: center;
  color: black;
  padding: 12px;
  /* background-color: #eee; */
  font-weight: bold; 
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  border-color: #212861;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 70px 0px 20px 0px;
  position: initial;
}
.section_aboutspan{
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  color: #fff;
  background-color: #d8232d;
  display: inline-block;
  padding: 0px 6px;
  border-radius: 4px; 
}

.section_about1 {
  text-align: center;
  color: black;
  padding: 0px;
  font-size: 24px;
  margin-bottom: 40px;
  font-weight: bold; 
  position: relative; 
}

.section__btm{
    padding-bottom:15px !important;
  }
  .section__subtlt{
    padding: 12px;
  }
.section__hght{
  /* background: linear-gradient(#d9232d,#d9232d) bottom repeat-x;
  padding-bottom: 1.6px;
  color:white
   */
}
.section__hght:hover{
    background: linear-gradient(#d9232d,#d9232d) bottom repeat-x;
    padding-bottom: 1.6px;
    transition: all 0.25s ease-out;
    color:white
  }
.svcs_img{
    width:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.goal_mission{
    box-shadow: none !important;
    padding: 10px;
}
.goal_mission_box{
    /* padding-top: 20px; */
}
.containerHdr{
    /* color: red;; */
}
.about_mission{
    padding: 5px;display: inline;object-fit: contain;
    width: 45px;
    height: 45px;background-color: #9ec73b ;
    border-radius: 10px;
}
.about_ms{
  padding: 5px;display: inline;object-fit: contain;
  width: 45px;
  height: 45px;background-color: #aab3ff ;
  border-radius: 10px;
}
.about_choose{
    padding: 5px;display: inline;object-fit: contain;
    width: 45px;
    height: 45px;background-color: #1d2862 ;border-radius: 10px;
    padding-left: 10px;;
}
.about_ac{
    padding: 5px;display: inline;object-fit: contain;
    width: 45px;
    height: 45px;background-color: #d9232d ;border-radius: 10px;
}
.card_align{
    text-align: left;
}
.card_text{

    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: center;
}
/* .card_mission_icon_text{
    padding-top: 5px;
    padding-left: 5px;
}
.card_missionCost_icon_text
{
    padding-top: 5px;
    padding-left: 5px;
}

.card_tc_icon_text{
  padding-top: 5px;
  padding-left: 5px;
} */

.tech_img{
    width:auto
}

.section__btm{
    /* padding-bottom:35px !important; */
  }
  .tech_imgTxt{
    font-size: 13px;
    color: #787878;
  }

  .process_img{
    width: 100%;
    height: 100%;
  }

  .our_Process{
    width: 100%;
  }
  .ind_name{
    float: left;
    text-align: center;
    width: 100%;
    font-size: 15px;
    color: #333;
    font-family:'Montserrat ','helvetica','arial ', sans-serif;
  }

  .ed{
       display: inline-block;
    background: url('../../public/images/process/newbackground.svg') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position: -10px -13px;
    width: 57px;
    height: 48px;
    font-size: 0;
  }


  .ed{
    display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position: -10px -13px;
 width: 57px;
 height: 48px;
 font-size: 0;
}

.ent{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position: -10px -71px;
 width: 56px;
 height: 48px;
 font-size: 0;
}

.fsb{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position: -206px  -71px;
 width: 56px;
 height: 48px;
 font-size: 0;
}

.ba{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-208px -71px;
 width: 56px;
 height: 48px;
 font-size: 0;
}


.re{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-10px -129px;
 width: 56px;
 height: 48px;
 font-size: 0;
}


.tr{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-76px -129px;
 width: 56px;
 height: 48px;
 font-size: 0;
}
.trl{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-142px -129px;
 width: 56px;
 height: 48px;
 font-size: 0;
}

.fr{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-208px -129px;
 width: 56px;
 height: 48px;
 font-size: 0;
}

.res{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-76px -13px;
 width: 56px;
 height: 48px;
 font-size: 0;
}

.og{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-142px -13px;
 width: 56px;
 height: 48px;
 font-size: 0;
}


.it{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-208px -13px;
 width: 56px;
 height: 48px;
 font-size: 0;
}
.md{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-10px -71px;
 width: 56px;
 height: 48px;
 font-size: 0; 
}


.section_wwd_lt{ 
  animation-duration: 10s;
  animation-name: flash;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation:flash 10s infinite; 
  display:inline-block !important;
  margin-block: 0px;
}
@keyframes flash  {
0% {color: #3f8ec4}
50% {color: #d9232d;}
100% {color: green;}


}
@-webkit-keyframes flash  {
0% {color: #3f8ec4}
50% {color: #d9232d;}
100% {color: green;}

}
 


@media (max-width: 768px) {
  .hdr{
    font-size:11px
  }
  .vertical_mobile_view{
    flex-direction: column;
    height: calc(100vh - 100px);
    min-height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
  }
  .verticalTabs{
    max-width: 100%;
    width: 100%; 
  }
}


@media (min-width: 768px) {
  .hdr{
    font-size:18px
  }
}

