.section_goal {
    text-align: center;
    color: black;
    padding: 12px;
    font-weight: bold;
    padding-bottom:5px;
    /* top:13px; */
    position: relative;
    /* background-color: #eee; */
    border-style: solid;
    border-width: 0px 0px 0px 20px;
    border-color: #da4536;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        /* padding: 50px 0px 20px 0px; */
}
.section__btm{
    padding-bottom:15px !important;
  }
  .section__subtlt{
    padding: 12px;
  }
.section__hght{
  /* background: linear-gradient(#d9232d,#d9232d) bottom repeat-x;
  padding-bottom: 1.6px;
  color:white
   */
}
.section__hght:hover{
    background: linear-gradient(#d9232d,#d9232d) bottom repeat-x;
    padding-bottom: 1.6px;
    transition: all 0.25s ease-out;
    color:white
  }
.svcs_img{
    width:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.goal_mission{
    /* box-shadow: rgb(0 0 0 / 80%) 0 0 5px; */
    padding: 10px;
}
.goal_mission_box{
    /* padding-top: 20px; */
}
.containerHdr{
    /* color: red;; */
}
.about_mission{
    padding: 5px;display: inline;object-fit: contain;
    width: 45px;
    height: 45px;background-color: #9ec73b ;
    border-radius: 10px;
}
.about_ms{
  padding: 5px;display: inline;object-fit: contain;
  width: 45px;
  height: 45px;background-color: #aab3ff ;
  border-radius: 10px;
}
.about_choose{
    padding: 5px;display: inline;object-fit: contain;
    width: 45px;
    height: 45px;background-color: #1d2862 ;border-radius: 10px;
    padding-left: 10px;;
}
.about_ac{
    padding: 5px;display: inline;object-fit: contain;
    width: 45px;
    height: 45px;background-color: #d9232d ;border-radius: 10px;
}
.card_align{
    text-align: left;
}
.card_text{

    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: center;
}
/* .card_mission_icon_text{
    padding-top: 5px;
    padding-left: 5px;
}
.card_missionCost_icon_text
{
    padding-top: 5px;
    padding-left: 5px;
}

.card_tc_icon_text{
  padding-top: 5px;
  padding-left: 5px;
} */

.tech_img{
    width:auto
}

.section__btm{
    /* padding-bottom:35px !important; */
  }
  .tech_imgTxt{
    font-size: 13px;
    color: #787878;
  }

  .process_img{
    width: 100%;
    height: 100%;
  }

  .our_Process{
    width: 100%;
  }
  .ind_name{
    float: left;
    text-align: center;
    width: 100%;
    font-size: 15px;
    color: #333;
    font-family:'Montserrat ','helvetica','arial ', sans-serif;
  }

  .ed{
       display: inline-block;
    background: url('../../public/images/process/newbackground.svg') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position: -10px -13px;
    width: 57px;
    height: 48px;
    font-size: 0;
  }


  .ed{
    display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position: -10px -13px;
 width: 57px;
 height: 48px;
 font-size: 0;
}

.ent{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position: -10px -71px;
 width: 56px;
 height: 48px;
 font-size: 0;
}

.fsb{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position: -206px  -71px;
 width: 56px;
 height: 48px;
 font-size: 0;
}

.ba{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-208px -71px;
 width: 56px;
 height: 48px;
 font-size: 0;
}


.re{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-10px -129px;
 width: 56px;
 height: 48px;
 font-size: 0;
}


.tr{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-76px -129px;
 width: 56px;
 height: 48px;
 font-size: 0;
}
.trl{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-142px -129px;
 width: 56px;
 height: 48px;
 font-size: 0;
}

.fr{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-208px -129px;
 width: 56px;
 height: 48px;
 font-size: 0;
}

.res{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-76px -13px;
 width: 56px;
 height: 48px;
 font-size: 0;
}

.og{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-142px -13px;
 width: 56px;
 height: 48px;
 font-size: 0;
}


.it{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-208px -13px;
 width: 56px;
 height: 48px;
 font-size: 0;
}
.md{
 display: inline-block;
 background: url('../../public/images/process/newbackground.svg') no-repeat;
 overflow: hidden;
 text-indent: -9999px;
 text-align: left;
 background-position:-10px -71px;
 width: 56px;
 height: 48px;
 font-size: 0; 
}
@media (max-width: 768px) {
  .hdr{
    font-size:11px
  }
}


@media (min-width: 768px) {
  .hdr{
    font-size:18px
  }
}

