.header {
  /* width: 100%;
  display: flex; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  border-bottom: 2px solid var(--logo1-red-color);
}

.header ul {
  list-style: none;
  /* display: flex; */
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 0 var(--size-4);
  float: left;
}

.header a {
  color: var(--li-color);
  font-size: var(--li-font-size) !important;
  text-transform: uppercase;
  font-weight: var(--li-font-weight);

}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--logo-red-color) !important;
}

@media (min-width: 768px) {
  .header ul {
    gap: 0.5rem;
  }

  .header a {
    font-size: var(--size-5);
  }
}
