.section_tech{
    text-align: center;
    color: black;
    padding: 12px;
    font-weight: bold;
    padding-bottom: 10%;
}
.tech_img{
    width:auto
}

.section__btm{
    padding-bottom:35px !important;
  }
  .tech_imgTxt{
    font-size: 13px;
    color: #787878;
  }

  .process_img{
    width: 100%;
    height: 100%;
  }

  .our_Process{
    width: 100%;
  }
  .ind_name{
    float: left;
    text-align: center;
    width: 100%;
    font-size: 15px;
    color: #333;
    font-family: sans-serif;
  }

  .ed{
       display: inline-block;
    background: url('../../public/images/process/newbackground.svg') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position: -10px -13px;
    width: 57px;
    height: 48px;
    font-size: 0;
  }

  .ent{
    display: inline-block;
    background: url('../../public/images/process/newbackground.svg') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position: -10px -71px;
    width: 56px;
    height: 48px;
    font-size: 0;
  }

  .fsb{
    display: inline-block;
    background: url('../../public/images/process/newbackground.svg') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position: -76px -71px;
    width: 56px;
    height: 48px;
    font-size: 0;
  }

  .ba{
    display: inline-block;
    background: url('../../public/images/process/newbackground.svg') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position:-208px -71px;
    width: 56px;
    height: 48px;
    font-size: 0;
  }


  .re{
    display: inline-block;
    background: url('../../public/images/process/newbackground.svg') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position:-10px -129px;
    width: 56px;
    height: 48px;
    font-size: 0;
  }


  .tr{
    display: inline-block;
    background: url('../../public/images/process/newbackground.svg') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position:-76px -129px;
    width: 56px;
    height: 48px;
    font-size: 0;
  }
  .trl{
    display: inline-block;
    background: url('../../public/images/process/newbackground.svg') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position:-142px -129px;
    width: 56px;
    height: 48px;
    font-size: 0;
  }

  .fr{
    display: inline-block;
    background: url('../../public/images/process/newbackground.svg') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position:-208px -129px;
    width: 56px;
    height: 48px;
    font-size: 0;
  }

  .res{
    display: inline-block;
    background: url('../../public/images/process/newbackground.svg') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position:-76px -13px;
    width: 56px;
    height: 48px;
    font-size: 0;
  }

  .og{
    display: inline-block;
    background: url('../../public/images/process/newbackground.svg') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position:-142px -13px;
    width: 56px;
    height: 48px;
    font-size: 0;
  }

  
  .it{
    display: inline-block;
    background: url('../../public/images/process/newbackground.svg') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position:-208px -13px;
    width: 56px;
    height: 48px;
    font-size: 0;
  }
  .md{
    display: inline-block;
    background: url('../../public/images/process/newbackground.svg') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position:-10px -71px;
    width: 56px;
    height: 48px;
    font-size: 0; 
  }