.section_wwd {
    text-align: center;
    color: black;
    /* padding: 12px; */
    font-weight: bold;
    padding-bottom:5px;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: #da4536;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 20px 0px;
    
}

.section__subtlt{ 
  text-align: center;
  color: black;
  padding: 0px;
  font-size: 24px;
  margin-bottom: 40px;
  font-weight: bold;
  position: relative;
}

.section_wwd_title{
    color:#d9232d
    
}
.section__btm{
    padding-bottom:15px !important;
  }

  .aboutspan{
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    color: #fff;
    background-color: #d8232d;
    display: inline-block;
    padding: 0px 6px;
    border-radius: 4px;
  }

.section_wwd_lt{ 
    animation-duration: 10s;
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation:flash 10s infinite; 
    display:inline-block !important;
    margin-block: 0px;
}
@keyframes flash  {
  0% {color: #3f8ec4}
  50% {color: #d9232d;}
  100% {color: green;}
 

}
@-webkit-keyframes flash  {
  0% {color: #3f8ec4}
  50% {color: #d9232d;}
  100% {color: green;}

}

@-webkit-keyframes wobble {
    0% {
      -webkit-transform: none;
      transform: none
    }
    15% {
      -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg)
    }
    30% {
      -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg)
    }
    
    75% {
      -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)
    }
    100% {
      -webkit-transform: none;
      transform: none
    }
  }
  
  @keyframes wobble {
    0% {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none
    }
    15% {
      -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
      -ms-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg)
    }
    30% {
      -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
      -ms-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg)
    }
   
    75% {
      -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      -ms-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)
    }
    100% {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none
    }
  }

.section_wwd_slider_services{
    }
    .whatWeDo_section_wwd  .MuiMasonry-root {
      margin: calc(0px) !important;
  }

.section_wwd_slider_services_items{
  font-size: 100px !important;

}
.section_wwd_slider_services_items:hover {
    animation-play-state: paused;
}

.masonry_item{
  padding: 15px 30px !important; 
  background-color: #f4e3e9 !important;
  border-color: #fda6c5 !important;
  border-style: solid !important;
  border-width: 5px 0 0 0 !important;
  border-radius: 10px 10px 10px 10px !important;
  text-align: left !important;
}

.masonry_item:nth-child(2), .masonry_item:nth-child(7), .masonry_item:nth-child(11){
  background: #f4e1ba !important;
  border-color: #f3c870 !important;
}

.masonry_item:nth-child(3), .masonry_item:nth-child(6), .masonry_item:nth-child(8), .masonry_item:nth-child(12){
  background: #e0edfc !important;
  border-color: #b5d7ff !important;
}

.masonry_item_title{
  color: #000 !important;
  font-size: 20px !important;
}

.items_lists{
  color: #4e5564;
  font-size: 13px;
  font-weight: 400;
}

.read_more{
  color: #4390c6 !important;
  font-size: 14px !important;
  font-weight: 500;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
 
.item_list:hover{
    background: rgba(255,255,255,0) !important;
    border-color: rgba(255,255,255,.5) !important;
}
 
