.section_tech{
    text-align: center;
    color: black;
    /* padding: 12px; */
    font-weight: bold;
    padding-bottom: 4%;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: #212861;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 20px 0px;
}
.tech_img{
    width:auto
}

.marginBottom20{
  margin-bottom: 20px;
}
.section__btm{
    padding-bottom:35px !important;
  }
  .tech_imgTxt{
    font-size: 13px;
    color: #787878;
  }
  .section__subtlt{
    text-align: center;
    color: black;
    padding: 0px;
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: bold;
    position: relative;
  }

  .aboutspan{
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    color: #fff;
    background-color: #d8232d;
    display: inline-block;
    padding: 0px 6px;
    border-radius: 4px;
  }
  