.paddingInline15{
    padding-inline: 15px;
}

.justifyContentBetween{
    justify-content: space-between;
}

.textLeft{
    text-align: left;
}

.subTitle{
    font-size: 20px;
    color: #333333;
    line-height: 1.2;
    margin-block: 12px;
    font-weight: 600;
}


.section_service::before {
    content: '';
    height: 1000px;
    width: 100%;
    background: url('../../public/images/tech/help-shap.png') no-repeat left;
    position: absolute;
    left: 0px;
    top: 0;
    z-index: -1;
    background-size: contain;
  }
  

.paracontent{ 
    color: #4e5564;
    font-size: 15px;
}

.countNum {
    color: #ff7f02;
    margin-right: 15px;
}
.section_service{
    text-align: center;
    color: black; 
    font-weight: bold;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: #da4536;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 20px 0px;
    z-index: 1;
    position: relative;
    
}
.section__btm{
    padding-bottom:15px !important;
  }
.section_service_tblhdr{
    text-align: center;
    margin-bottom: 40px;
}
.svcs_img{text-align: center;}
.svc_img{
    width: auto;
}

.consutImg{
    width: 100%;
    height: 210px;
    object-fit: cover;
}
    
.section__subtlt{
    text-align: center;
    color: black;
    padding: 0px;
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: bold;
    position: relative;
  }
  

.section_servicesvc1{
background-color:#e1ffc9 ;
padding: 10px;
    border: 2px solid white;
    border-radius: 10px;

}
.section_servicesvc2{
    background-color:#ffd2d9;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
}
.section_servicesvc3{
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color:#ffd2d9
}
.section_servicesvc4{
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color:#bdffe4
}
.section_servicesvc5{
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color:#bdffe4
}
.section_servicesvc6{
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color:#d2e6ff
}
.section_servicesvc7{
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color:#bdffe4
}
.section_servicesvc8{
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color:#bdffe4
}
.section_servicesvc9{
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color:#ffd2d9
}
.section_servicesvc10{
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color:#1d1d2e
}
.section_servicesvc11{
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color:#bdffe4 !important;
}
.section_servicesvc12{
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color:#d2e6ff
}
/* .section_servicesvc12{
    background-color:
} */


.section_servicesvc_grid {
    padding: 40px 20px;
    border-radius: 5px 5px 5px 5px;
    margin-inline: 10px; 
    margin-bottom: 15px; 
}

.section_servicesvc011{
        background-color: #e7fbf3; 
    }
    .section_servicesvc21{ 
        background-color: #fffbe9;
    }
    .section_servicesvc31{
        background-color: #f9eafe;
    }
    .section_servicesvc41{
        background-color: #fff0e9;
    }
    .section_servicesvc51{
        background-color: #fff0e9;
    }
    .section_servicesvc61{
        background-color: #f9eafe;
    }
    .section_servicesvc71{
        background-color: #fffbe9;
    }
    .section_servicesvc81{
        background-color: #e7fbf3; 
    }
    .section_servicesvc91{
        background-color: #fff0e9;
    }
    .section_servicesvc101{
        background-color: #e7fbf3; 
    }
    .section_servicesvc111{
        background-color: #fffbe9;
    }
    .section_servicesvc121{
        background-color: #f9eafe;
    }



.service_icon {
			
}
.service_icon_gif {
    background: url('../../public/images/services/branding.png') no-repeat -8px -7px;
    height: 106px;
    width: 116px;
}

.hirel-technologies:hover  .service_icon_gif { 
    
    background: url(../../public/images/services/smm.gif) no-repeat -8px -7px;
    height: 106px;
    width: 129px;
}

.service_icon_gif2 {
    background: url(../../public/images/services/ecom.gif) no-repeat -195px 3px;
    height: 106px;
    width: 116px;
}

.hirel-technologies:hover  .service_icon_gif2 { 
    
    background: url(../../public/images/services/ecom.gif) no-repeat -8px -7px;
    height: 106px;
    width: 158px;
}

.service_icon_gif3 {
    background: url(../../public/images/services/php.gif) no-repeat -182px -6px;
    height: 106px;
    width: 116px;
}

.hirel-technologies:hover  .service_icon_gif3 { 
    
    background: url(../../public/images/services/php.gif) no-repeat -8px -3px;
    height: 112px;
    width: 158px;
}

.service_icon_gif4 {
    background: url(../../public/images/services/mob.gif) no-repeat -174px -3px;
    height: 112px;
    width: 118px;
}

.hirel-technologies:hover  .service_icon_gif4 { 
    
    background: url(../../public/images/services/mob.gif) no-repeat -8px -7px;
    height: 112px;
    width: 158px;
}

.aboutSpan{
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    color: #fff;
    background-color: #d8232d;
    display: inline-block;
    padding: 0px 6px;
    border-radius: 4px;
}

@media (min-width: 768px) {
    .service_icon_gif {
        background: url('../../public/images/services/branding.png') no-repeat; 
        width: 100px;
    }
    .service_icon_gif2 {
        background: url(../../public/images/services/ecom.gif) no-repeat -166px -6px;
        height: 106px;
        width: 158px;
    }
    .service_icon_gif3 {
        background: url(../../public/images/services/php.gif) no-repeat -157px -6px;
        height: 106px;
        width: 158px;
    }
    .service_icon_gif4 {
        background: url(../../public/images/services/mob.gif) no-repeat -157px -3px;
        height: 112px;
        width: 158px;
    }        
}


@media (max-width: 1199px){
.section_servicesvc_grid { 
    padding: 20px;
    margin-inline: 10px;
    flex-grow: 0;
    max-width: 30%;
    flex-basis: 30%;
}
}



@media (max-width: 991px){
    .section_servicesvc_grid { 
        padding: 20px;
        margin-inline: 10px;
        flex-grow: 0;
        max-width: 29%;
        flex-basis: 29%;
    }
}


@media (max-width: 765px){
    .section_servicesvc_grid { 
        padding: 20px;
        margin-inline: 10px;
        flex-grow: 0;
        max-width: 44%;
        flex-basis: 44%;
    }
}

@media (max-width: 576px){
    .section_servicesvc_grid { 
        padding: 20px;
        margin-inline: 10px;
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media (min-width: 1200px){
    .section_servicesvc_grid { 
      flex-grow: 0;
      max-width: 18.5%;
      flex-basis: 18.5%;
    } 
    .justifyContentBetween{
        justify-content: initial;
    }
    }
