
* {
  box-sizing: border-box;
}

body {
  --color-grey-50: hsl(265, 55%, 96%);
  --color-grey-100: hsl(265, 19%, 88%);
  --color-grey-200: hsl(265, 7%, 70%);
  --color-grey-300: hsl(265, 6%, 66%);
  --color-grey-400: hsl(265, 4%, 57%);
  --color-grey-500: hsl(265, 3%, 53%);
  --color-grey-600: hsl(265, 4%, 42%);
  --color-grey-700: hsl(265, 4%, 31%);
  --color-grey-800: hsl(276, 5%, 20%);
  --color-grey-900: hsl(280, 5%, 13%);


  --color-primary-50: #c8b3ce;
  --color-primary-100: #a07aaa;
  --color-primary-200: #884c97;
  --color-primary-300: #843897;
  --color-primary-400: #732392;
  --color-primary-500: #5a097a;
  --color-primary-600: #480264;
  --color-primary-700: #3d0264;

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;
  --bg-color:white;
  --li-color:#042e6f;
  --li-font-size:14px;
  --li-font-weight:600;
  margin: 0;
  background-color: var(--bg-color);
  --logo-red-color:#d9232d;
  --logo1-red-color:#1e2762;
  --logo3-red-color:#3f8ec6;
  color: #252525;
  font-family: 'Poppins', sans-serif !important;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  box-shadow: 0 0 6px 1px #00000012 !important;
}
h1,
h2,
h3,h4 {
  font-family: 'Poppins', sans-serif !important;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}

.text-left{
  text-align: left;
}
 
.bannerslider .slick-list {
  padding-top: 30px;
  padding-bottom: 40px;
}
 
.MuiTextField-root.MuiFormControl-root{ 
  margin: 0px !important;
}


.bannerslider.slick-initialized .slick-slide .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  min-height: 140px;
}

.slick-slider.recentSlider.slick-vertical.slick-initialized li {
  display: flex !important;
}

.slick-vertical .slick-slide{
  width: 100% !important;
}

.subTitleHeading{
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  color: #fff;
  background-color: #d8232d;
  display: inline-block;
  padding: 0px 6px;
  border-radius: 4px; 
}

.subTitleMainHeading{
  color: black;
  padding: 0px;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  position: relative;
}

.tab_button { 
  padding: 0px;
  margin-inline: 10px;
  text-transform: capitalize;
  font-size: 16px;
}

.tab_button.MuiTab-root.Mui-selected {
  color: #da4536; 
  padding: 0px;
  margin-inline: 10px;
  font-weight: 600;
}

.MuiTabs-indicator{ 
  background-color: #da4536 !important; 
}

.vertical_button{
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 600 !important;
  text-transform: capitalize !important; 
  padding: 0px !important;
  margin-bottom: 10px !important;
  text-align: left !important;
  align-items: flex-start !important;
  padding-left: 20px !important;
}

.vertical_button.Mui-selected{ 
    background: white !important;
    border-radius: 10px !important;
    font-size: 16px !important;
    text-transform: capitalize !important;
    color: #000 !important;
    font-weight: 600 !important;
}
 
.MuiTabs-vertical .MuiTabs-indicator{ 
  background-color: transparent !important;
}

/* Timeline css */


.timeline-customize{
  margin: 0;
  padding: 0;
}

.timeline-customize .MuiTimelineConnector-root {
  background-color: #00000024;
}

.timeline-customize .MuiTimelineContent-positionAlternate{
  padding-top: 40px;
  padding-bottom: 40px;
}

.timeLineTitleText{
    font-weight: 600 !important;
    color: #d8232d !important;
    font-size: 16px !important;
    font-family: 'Poppins';
    margin-bottom: 10px !important;
    display: block !important;
}

.timeLineSubText{
  color: #4e5564 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  font-family: 'Poppins' !important;
}

span.MuiTimelineDot-root.MuiTimelineDot-filled {
  background: #64646c !important;
  /* margin: auto; */
}

/*  */

@media (max-width: 1199px){
  .bannerslider.slick-initialized .slick-slide { 
    margin-right: 10px !important; 
    width: 180px !important;
  }
}

@media (max-width: 991px){
  .bannerslider.slick-initialized .slick-slide { 
    margin-right: 10px !important; 
    width: 160px !important;
  }
}

@media (max-width: 765px){
  .bannerslider.slick-initialized .slick-slide { 
    margin-right: 10px !important; 
    width: 140px !important;
  }
}


@media (min-width: 1200px){
  .bannerslider.slick-initialized .slick-slide { 
    margin-right: 10px !important;
    width: 180px !important;
  }
    /* .MuiGrid-container{
      max-width: 1460px;
      margin: auto;
    }  */
}
